.App {
  min-height: 100vh;
  background-color: #282c34;
}

.Head {
  height: 100px;
}

.Body {
  background-color: white;
  width: 1100px;
  margin: auto;
  padding: 50px;
  border-radius: 10px;
}

.Table {
  width: 1000px;
  margin: auto;
}